* {
  box-sizing: border-box;
}
.pad {
  padding: 1.375em;
}
.half,
.third,
.two-thirds,
.fourth,
.three-fourths {
  float: left;
}
.half {
  width: 50%;
}
.third {
  width: 33.33%;
}
.two-thirds {
  width: 66.66%;
}
.fourth {
  width: 25%;
}
.three-fourths {
  width: 75%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
@import url("http://fonts.googleapis.com/css?family=CutiveMono");
* {
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: "kern", "liga", "dlig", "frac";
     -moz-font-feature-settings: "kern", "liga", "dlig", "frac";
          font-feature-settings: "kern", "liga", "dlig", "frac";
}
html,
button,
input {
  font-family: 'Raleway', "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #2a2b2e;
}
html {
  min-height: 100%;
  background: -webkit-linear-gradient(bottom, #fff 0%, #fff 90%, #64dc34 100%) 0.5em 0.5em;
  background: linear-gradient(to top, #fff 0%, #fff 90%, #64dc34 100%) 0.5em 0.5em;
  background: #fff;
  background-size: contain;
  font-size: 16px;
  line-height: 1.375em;
  background-size: 100% 1.375em;
  color: rgba(0,0,0,0.9);
  color: #2a2b2e;
}
body {
  margin: 0;
}
small,
strong,
i,
b {
  line-height: 1;
}
p,
ul,
ol,
code {
  padding: 0;
  margin: 0;
  margin-bottom: 1.375em;
}
p:last-child,
ul:last-child,
ol:last-child,
code:last-child {
  margin: 0;
}
p {
  -webkit-hyphens: auto;
     -moz-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}
ul,
ol {
  padding-left: 1.1em;
}
/*headings (you should never use > 4 levels of headings)*/
h1,
h2,
h3,
h4 {
  margin: 0;
  position: relative;
}
h1 {
  font-size: 3.3em;
  line-height: 0.833333333333333em;
  top: -0.02em;
}
h2 {
  font-size: 1.618em;
  top: -0.12em;
}
h3 {
  font-size: 1.3em;
  top: -0.1em;
}
h4 {
  font-size: 1em;
}
a {
  color: #51cb20;
  text-decoration: underline;
  text-decoration-skip: ink;
}
mark {
  background: rgba(255,220,0,0.5);
}
::-moz-selection {
  background: rgba(100,220,52,0.15);
}
::selection {
  background: rgba(100,220,52,0.15);
}
iframe {
  border: solid 0.5em #fff;
  height: 9.625em;
  width: 100%;
  min-width: 316px;
}
@media (max-width: 383px) {
  iframe {
    min-width: 100%;
  }
}
button {
  font-size: 1em;
  background: #51cb20;
  color: #fff;
  border-radius: 4px;
  border: 0;
  padding: 0.6875em;
}
nav {
  background: #64dc34;
  width: 100%;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 1.375em;
  box-shadow: 0 0 0.5em rgba(0,0,0,0.1);
}
nav a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  background: none;
  text-shadow: none;
  padding: 0.5em 1.375em;
  font-weight: bold;
}
.content {
  padding: 1.375em;
}
.content:after {
  content: "";
  display: table;
  clear: both;
}
.row:nth-of-type(2n) {
  background: #f6f7f4;
}
h1,
h2,
h3,
h4,
h5 {
  text-transform: uppercase;
}
.long {
  text-transform: none;
  max-width: 20em;
  margin: 0 auto;
}
p.long {
  max-width: 30em;
}
.logo {
  display: block;
  margin: 0 auto;
  width: 9.375em;
  height: 9.375em;
}
.headerimg {
  display: block;
  margin: auto;
  margin-bottom: 2.75em;
}
h1 {
  margin-top: 1em;
}
h2:last-child,
h3:last-child {
  text-align: center;
}
.bottom {
  display: block;
  width: 100%;
}
.center,
.center p {
  text-align: center;
}
table {
  width: 100%;
}
td {
  padding: 0.61875em;
  border: solid 0.06875em #fff;
  background: #f3f5f2;
}
td.light {
  background: #fff;
}
td.em {
  background: #edfdd4;
}
@media (max-width: 532px) {
  td {
    padding: 0.275em;
    border: solid 0.06875em #fff;
  }
}
@media (max-width: 504px) {
  .scroller {
    width: 100%;
    overflow: scroll;
  }
}
.color {
  background: #64dc34;
}
@media (max-width: 985px) {
  .wide-content {
    width: 100%;
  }
}
@media (max-width: 1012px) {
  h1 {
    width: 9em;
    margin-top: 0.55em;
  }
}
@media (max-width: 733px) {
  html {
    font-size: 14px;
  }
}
@media (max-width: 647px) {
  html {
    font-size: 12px;
  }
}
@media (max-width: 543px) {
  .third,
  .two-thirds,
  .half {
    display: block;
    width: 100%;
  }
  .row {
    padding-top: 0;
  }
  .contrast {
    background: #fff;
  }
  h1 {
    width: 100%;
    text-align: center;
  }
  html {
    font-size: 16px;
  }
}
@media (min-width: 1450px) {
  html {
    font-size: 18px;
  }
}
@media (min-width: 1520px) {
  html {
    font-size: 19px;
  }
}
@media (min-width: 1600px) {
  html {
    font-size: 20px;
  }
}
@media (min-width: 1760px) {
  html {
    font-size: 22px;
  }
}
@media (min-width: 1920px) {
  html {
    font-size: 24px;
  }
}
