
colorMainDark=#51cb20
colorMain=#64dc34
colorMainLight=#c2f970


colorText=#2a2b2e
colorTextLight=#7e8d85 //medium gray
colorTextLighter=#b3bfb8 //light grey
colorTextLightest=#e8ebe4 //lighter grey

colorOrg0=#3c493f //halfway between main and text #386150

brandBlue=#016fb9
brandCyan=#22aed1
brandCream=#eaefd3
brandRed=#c52233
brandNavy=#3a506b
brandYellow=#f7f052
brandOrange=#f28123




varLineHeight=1.375em
phi=1.618
varMargin=varLineHeight*2

//grid

*
  box-sizing:border-box
.pad
  padding:varLineHeight //make sure it doesnt break the baseline grid!
.half,.third,.two-thirds,.fourth,.three-fourths
  float:left
.half
  width:50%
.third
  width:33.33%
.two-thirds
  width:66.66%
.fourth
  width:25%
.three-fourths
  width:75%
.row:after
  content: ""
  display: table
  clear: both

//type

@import url(http://fonts.googleapis.com/css?family=Cutive+Mono);

*
  text-rendering: optimizeLegibility;
  font-feature-settings:"kern", "liga", "dlig" ,"frac";

html,button,input
  font-family: 'Raleway', "Helvetica Neue", Helvetica, Arial, sans-serif
  color:colorText
html
  min-height:100%
  background:linear-gradient(to top,#fff 0% ,#fff 90%,colorMain 100%) .5em .5em;
  background:white
  background-size:contain
  //padding-top:varLineHeight+2em
  font-size:16px;
  line-height:varLineHeight;
  background-size:100% varLineHeight;
  color:rgba(0,0,0,.9)
  color:colorText

body{
  margin:0;
}

small,strong,i,b{line-height:1}

p,ul,ol,code{padding:0;margin:0;margin-bottom:varLineHeight}
p:last-child,ul:last-child,ol:last-child,code:last-child{margin:0}

p{hyphens: auto;}

ul,ol{padding-left:1.1em}

/*headings (you should never use > 4 levels of headings)*/

h1,h2,h3,h4{margin:0;position:relative;}

h1{font-size:3.3em;line-height:varLineHeight*(2/3.3);top:-.02em;}
h2{font-size:1.618em;  top:-.12em}
h3{font-size:1.3em; top:-.1em}
h4{font-size:1em}

a{
  color: colorMainDark
  text-decoration:underline;
  text-decoration-skip: ink;
  //background:linear-gradient(to top,#fff 0% ,#fff 93.75%,colorMain 93.75%,colorMain 100%)  0 1em;
  //text-shadow:-1px 1px 0 #fff,1px 1px 0 #fff,-1px 0 0 #fff,1px 0 0 #fff, 0 -1px #fff
}
mark{
  background:rgba(255,220,0,.5);
}

::selection{background:rgba(colorMain,.15)}

iframe
  //box-shadow: 0 0 .5em rgba(0,0,0,0.1)
  border: solid .5em #fff
  height: varLineHeight*7
  width: 100%
  min-width:316px
@media(max-width:383px)
  iframe
    min-width:100%

button
  font-size:1em
  background:colorMainDark
  color:#fff
  border-radius:4px
  border:0
  padding: (varLineHeight/2)

nav
  background:colorMain
  width:100%
  display:block
  position:fixed
  top:0
  left:0
  padding:0 varLineHeight
  box-shadow: 0 0 .5em rgba(0,0,0,0.1)
nav a
  display:inline-block
  color:white
  text-decoration:none
  background:none
  text-shadow:none
  padding:.5em varLineHeight
  font-weight:bold

//main
.content
  padding:varLineHeight;
.content:after
  content: ""
  display: table
  clear: both


.row:nth-of-type(2n)
  background:lighten(colorTextLightest,60%)
  //background: lighten(colorMainLight,70%)
h1,h2,h3,h4,h5
  text-transform: uppercase;

.long
  text-transform: none
  max-width:20em
  margin:0 auto
p.long
  max-width:30em
.logo
  display:block
  margin:0 auto
  width:9.375em
  height:9.375em
.headerimg
  display:block
  margin:auto
  margin-bottom:varMargin
h1
  margin-top:1em
h2:last-child,h3:last-child
  text-align:center
.bottom
  display:block
  width:100%
.center,.center p
  text-align center
table
  width:100%
td
  padding:varLineHeight*0.45
  border: solid varLineHeight*0.05 #fff
  background: lighten(colorTextLightest,50%)
td.light
  background:#fff
td.em
  background: lighten(colorMainLight,70%)
@media(max-width:532px)
  td
    padding:varLineHeight*0.2
    border: solid varLineHeight*0.05 #fff
@media(max-width:504px)
  .scroller
    width:100%
    overflow:scroll
.color
  background:colorMain
@media(max-width:985px)
  .wide-content
    width:100%
@media(max-width:1012px)
  h1 
    width:9em
    margin-top:.55em
@media(max-width:733px)
  html
    font-size:14px
@media(max-width:647px)
    html
      font-size:12px
@media(max-width:543px)
  .third,.two-thirds,.half
    display:block
    width:100%
  .row
    padding-top:0
  .contrast
    background:#fff
  h1
    width:100%
    text-align:center
  html
    font-size:16px

@media(min-width:1450px)
  html
    font-size:18px
@media(min-width:1520px)
  html
    font-size:19px
@media(min-width:1600px)
  html
    font-size:20px
@media(min-width:1760px)
  html
    font-size:22px
@media(min-width:1920px)
  html
    font-size:24px